<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Cadastro</title>
        <link rel="stylesheet" type="text/css" href="../resources/style.css"/>        
        <body style="background: #4169e1">
            <div>
                <div class="caixacadastro">
                    <h:form>
                        <p:messages id="mensagem" autoUpdate="true"/>
                        <p:fieldset legend="Dados pessoais">
                            <h:panelGrid columns="1">
                                <p:outputLabel value="Nome completo"/>
                                <p:inputText size="20" value="#{cadastroController.nomeCompleto}"/>
                                <p:outputLabel value="CPF"/>
                                <p:inputMask id="cpf" mask="999.999.999-99" value="#{cadastroController.cpf}"/>
                            </h:panelGrid>
                        </p:fieldset>
                        <p:fieldset legend="Dados da conta" >
                            <h:panelGrid columns="1">
                                <p:outputLabel value="Senha"/>
                                <p:password id="senha" feedback="true" value="#{cadastroController.password}" match="repet_senha" promptLabel="Digite uma senha"/>
                                <p:outputLabel value="Repetir Senha"/>
                                <p:password id="repet_senha" feedback="true" />                    
                            </h:panelGrid>
                        </p:fieldset>
                        <div style="padding-top: 10px">
                            <p:commandButton icon="ui-icon-check" value="Confirmar" action="#{cadastroController.criaUsuario()}" />
                        </div>
                    </h:form>
                </div>
            </div>
        </body>
    </h:head>        
</html>
