.caixalogin{
    width: 320px;
    height: 420px;
    background: rgba(255,255,255,0.85);
    opacity: 1;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 1px solid;
    border-radius: 10px;
}

.camposlogin{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);   
}

.caixacadastro{
    width: 600px;
    height: 500px;
    background: rgba(255,255,255,0.85);
    opacity: 1;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 35px 20px;
    border: 1px solid;
    border-radius: 10px;    
}


* {
    font-family: "Verdana";
}