<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Gerenciador de Certificados</title>
        <link rel="stylesheet" type="text/css" href="resources/style.css"/>
        <h:body style="background: #4169e1">
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <div class="caixalogin">
                <div class="camposlogin">
                    <h:form>
                        <p:messages autoUpdate="true"/>
                        <h:panelGrid columns="1" >
                            <p:outputLabel for="txtUsuario" value="Usuário:"/>
                            <p:inputText id="txtUsuario" value="#{indexController.cpf}" required="true"/>                
                                <p:outputLabel for="txtSenha" value="Senha:"/>
                                <p:password id="txtSenha" value="#{indexController.password}" required="true"/>
                                <h:column/>
                                <p:commandButton icon="ui-icon-key" value="Efetuar login" action="#{indexController.loginControl()}" />
                        </h:panelGrid>
                        <p:separator></p:separator>
                            <p:link style="font-size: 15px" value="Cadastrar" outcome="usuario/cadastro"/>
                    </h:form>
                </div>
            </div>
        </h:body>
    </h:head>        
</html>

